#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



/* .read-the-docs {
  color: #888;
}


.stroke-text {
    -webkit-text-stroke: 1px rgb(77, 76, 76); 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
} */